# Servidor
NODE_ENV=production
PORT=3000

# Base de Datos (Render proveerá estos valores)
DB_HOST=
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=proyecto_agua

# JWT
JWT_SECRET=

# Email
EMAIL_USER=hydrosave05@gmail.com
EMAIL_PASSWORD=gurh bkxz lnzp puhx
EMAIL_FROM="HydroSave <hydrosave05@gmail.com>"

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

# Frontend URL (Render proveerá esto)
CLIENT_URL=

# CORS
ALLOWED_ORIGINS=